<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessories - Pet Test E-commerce</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="nav container">
            <i class='bx bx-menu' id="menu-icon"></i>
            <a href="index.html" class="logo">Pet Test</a>
            <div class="navbar">
                <a href="pets.html" class="nav-link">Pets</a>
                <a href="toys.html" class="nav-link">Toys</a>
                <a href="accessories.html" class="nav-link">Accessories</a>
            </div>
            <a href="cart.html">
                <i class='bx bx-shopping-bag' id="cart-icon" data-quantity="0"></i>
            </a>
        </div>
    </header>
   
    <section class="products container" id="products">
        <h2 class="heading">Discover Product</h2>
        <div class="product-container" id="productList">
            
        </div>
    </section>

    <script src="static/js/main.js"></script>

    <footer>
        <p>PetTest2024 &copy;</p>
    </footer>
    
</body>
</html>